<ion-view view-title="About">
    <ion-content>
        <!--<h3 ng-bind="appVersion"></h3>
        <h3 >{{ appVersion }}</h3>-->
        <div class="list card">
            <div class="item item-text-wrap">
                {{ appName }}
            </div>
            <div class="item item-text-wrap">
                version: {{ appVersion }}
            </div>
            <div class="item item-text-wrap">
               build: {{ appBuild }} 
            </div>
        </div>
    </ion-content>
</ion-view>