{{#yield-style}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/login.css">
{{/yield-style}}

<div class="container-fluid" id="content">

    <!--<form class="form-login">-->
        <!--&lt;!&ndash;<h2 class="form-login-heading">Google Login</h2>&ndash;&gt;-->
        <!--<button class="btn btn-lg btn-primary btn-block" id="signin-button" >Google Login</button>-->
    <!--</form>-->

    <!--&lt;!&ndash;Add buttons to initiate auth sequence and sign out&ndash;&gt;-->
    <!--<button id="authorize-button" style="display: none;">Authorize</button>-->
    <!--<button id="signout-button" style="display: none;">Sign Out</button>-->

    <!--<div id="content"></div>-->

    <button class="btn btn-lg btn-primary btn-block" id="signin-button">Sign in</button>

</div>

{{#yield-scripts}}
<script src="https://apis.google.com/js/api.js"></script>
<script>
    var apiKey = 'AIzaSyArXhXTlepX0ElU44XE5pcozlsunGo1saA';
    var clientId = '137507044422-vkgqhpqff9a77blmtcop4sv8gr5mn421.apps.googleusercontent.com';
    var scopes = 'profile';

    // Get authorization from the user to access profile info
    function initAuth() {
        gapi.client.setApiKey(apiKey);
        gapi.auth2.init({
            client_id: clientId,
            scope: scopes
        });
        console.log('signinButton');
        var signinButton = document.getElementById('signin-button');
        signinButton.addEventListener("click", auth);
    }

    function auth() {
        console.log('in auth');
        gapi.auth2.getAuthInstance().signIn().then(function() {
            console.log('in then');
            makeApiCall();
        });
    }

    // Load the API and make an API call.  Display the results on the screen.
    function makeApiCall() {
        console.log('in makeApiCall');
        window.location.replace('http://localhost:55513/mashup');
    }

    gapi.load('client:auth2', initAuth);
</script>
{{/yield-scripts}}

