{{#yield-style}}
<link rel="stylesheet" href="/stylesheets/mashup.css">
{{/yield-style}}

<div id="floating-panel">
    <table>
        <tr>
            <td><b>Start: </b><input id="start"></td>
            <td><b>End: </b><input id="end"></td>
            <td><input type="submit" id="submit"></td>
        </tr>
        <tr>
            <td><label id="start-weather"></label></td>
            <td><label id="end-weather"></label></td>
            <td><input type="hidden" id="tts" value="Text-To-Speech" onclick="textToSpeech()"></td>
        </tr>
    </table>
</div>
<div id="map"></div>

{{#yield-scripts}}
<script>
    var distance;
    var duration;

    function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: {lat: 41.85, lng: -87.65}
        });
        directionsDisplay.setMap(map);

        var input = (document.getElementById('start'));
        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var input_end = (document.getElementById('end'));
        var autocomplete_end = new google.maps.places.Autocomplete(input_end);
        autocomplete_end.bindTo('bounds', map);

        document.getElementById('submit').addEventListener('click', function() {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        });
    }

    autocomplete.addListener('place_changed', function() {
        infowindow.close();
        marker.setVisible(false);
        var place = autocomplete.getPlace();
        if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
        }

        // If the place has a geometry, then present it on a map.
        if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
        } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
        }
        marker.setIcon(/** @type {google.maps.Icon} */({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
        }));
        marker.setPosition(place.geometry.location);
        marker.setVisible(true);

        var address = '';
        if (place.address_components) {
            address = [
                (place.address_components[0] && place.address_components[0].short_name || ''),
                (place.address_components[1] && place.address_components[1].short_name || ''),
                (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
        }

        infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
        infowindow.open(map, marker);
    });

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
            origin: document.getElementById('start').value,
            destination: document.getElementById('end').value,
            travelMode: 'DRIVING'
        }, function(response, status) {
            if (status === 'OK') {
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });

        // clear temps
        document.getElementById('start-weather').innerHTML  = "";
        document.getElementById('start-weather').innerHTML  = "";

        $.ajax({
            url : "http://api.wunderground.com/api/36b799dc821d5836/geolookup/conditions/q/" + weatherState(document.getElementById('start').value) + "/" + weatherCity(document.getElementById('start').value) + ".json",
            dataType : "jsonp",
            success : function(parsed_json) {
                var location = parsed_json['location']['city'];
                var temp_f = parsed_json['current_observation']['temp_f'];
//                alert("Current temperature in " + location + " is: " + temp_f);
                document.getElementById('start-weather').innerHTML  = location + " temp is: " + temp_f + "&deg";
            }
        })
        $.ajax({
            url : "http://api.wunderground.com/api/36b799dc821d5836/geolookup/conditions/q/" + weatherState(document.getElementById('end').value) + "/" + weatherCity(document.getElementById('end').value) + ".json",
            dataType : "jsonp",
            success : function(parsed_json) {
                var location = parsed_json['location']['city'];
                var temp_f = parsed_json['current_observation']['temp_f'];
//                alert("Current temperature in " + location + " is: " + temp_f);
                document.getElementById('end-weather').innerHTML  = location + " temp is: " + temp_f + "&deg";
            }
        })

        // Make the TTS button visible
        document.getElementById("tts").setAttribute("type", "submit");

        /////////////
        ///////////// Destination Matrix
        /////////////
        console.log("input = " + document.getElementById('start').value);
        console.log("input_end = " + document.getElementById('end').value);

//        var geocoder = new google.maps.Geocoder;

        var service = new google.maps.DistanceMatrixService;
        service.getDistanceMatrix({
            origins: [document.getElementById('start').value],
            destinations: [document.getElementById('end').value],
            travelMode: 'DRIVING',
            unitSystem: google.maps.UnitSystem.IMPERIAL,
            avoidHighways: false,
            avoidTolls: false
        }, function(response, status) {
            if (status !== 'OK') {
                alert('Error was: ' + status);
            } else {
//                var originList = response.originAddresses;
//                var destinationList = response.destinationAddresses;
//                var outputDiv = document.getElementById('output');
//                outputDiv.innerHTML = '';
//                deleteMarkers(markersArray);

//                var showGeocodedAddressOnMap = function(asDestination) {
//                    var icon = asDestination ? destinationIcon : originIcon;
//                    return function(results, status) {
//                        if (status === 'OK') {
//                            map.fitBounds(bounds.extend(results[0].geometry.location));
//                            markersArray.push(new google.maps.Marker({
//                                map: map,
//                                position: results[0].geometry.location,
//                                icon: icon
//                            }));
//                        } else {
//                            alert('Geocode was not successful due to: ' + status);
//                        }
//                    };
//                };

                distance = response.rows[0].elements[0].distance.text;
                console.log("distance = " + distance);
                duration = response.rows[0].elements[0].duration.text;
                console.log("duration = " + duration);

//                for (var i = 0; i < originList.length; i++) {
//                    var results = response.rows[i].elements;
//                    geocoder.geocode({'address': originList[i]},
//                            showGeocodedAddressOnMap(false));
//                    for (var j = 0; j < results.length; j++) {
//                        geocoder.geocode({'address': destinationList[j]},
//                                showGeocodedAddressOnMap(true));
//                        outputDiv.innerHTML += originList[i] + ' to ' + destinationList[j] +
//                                ': ' + results[j].distance.text + ' in ' +
//                                results[j].duration.text + '<br>';
//                    }
//                }
            }
        });
    }

    function weatherCity(str){
        var a = str.split(",");
        return a[0];
    }

    function weatherState(str){
        var a = str.split(",");
        return a[1];
    }

    function cityTemp(str){
        var a = str.split(":");
        return a[1];
    }

    function textToSpeech(){
        console.log("in textToSpeech()");

        var str = "The temperature in " + weatherCity(document.getElementById('start').value) + " is " + tempToSpeech(cityTemp(document.getElementById("start-weather").innerHTML)) +
                  ", and the temperature in " + weatherCity(document.getElementById('end').value) + " is " + tempToSpeech(cityTemp(document.getElementById("end-weather").innerHTML)) +
                  ". The distance between these two cities is " + distance + ", and your estimated travel time, by car, is " + duration + ".";
        console.log("str = " + str);

        responsiveVoice.speak(str);
    }

    function tempToSpeech(str) {
        console.log("in textToSpeech()");
        console.log("str = " + str);

        if(str.indexOf(".") > 0){
            var a = str.split(".");
            console.log("return: " + a[0] + " point " + a[1]);
            return a[0] + " point " + a[1];
        }

        return str;
    }
</script>
<!--<script async defer-->
<!--src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoQcF6XUgCCYspit9kayYmNQoSyIXmA2Q&callback=initMap">-->
<!--</script>-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAoQcF6XUgCCYspit9kayYmNQoSyIXmA2Q&libraries=places&callback=initMap"
        async defer>
</script>
<script src="http://code.responsivevoice.org/responsivevoice.js"></script>
{{/yield-scripts}}
