<ion-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Lab 5</h1>
    </ion-header-bar>
    <!--<ion-content ng-controller="RegisterCtrl">-->
    <ion-content>
        <button class="button button-stable button-block"
                ui-sref="home">
            Login
        </button>
        <button class="button button-stable button-block"
                ui-sref="register">
            <!--ng-click="goRegister('/register')">-->
            Register
        </button>
    </ion-content>
</ion-view>