{{#yield-style}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/login.css">
{{/yield-style}}

<div class="container-fluid">

    <form class="form-login" action="/register" method="get">
        <!--<h2 class="form-login-heading">Register New Account</h2>-->
        <button class="btn btn-lg btn-primary btn-block" href="/register">Register</button>
    </form>
    <form class="form-login" action="/home" method="get">
        <!--<h2 class="form-login-heading">Login To Existing</h2>-->
        <button class="btn btn-lg btn-primary btn-block" >Login</button>
    </form>

</div>
